#lobby {
  .section-title {
    color: #8DAECC;
    font-size: 16px;
    letter-spacing: 1px;
  }

  #playersWrapper {
    border-right: 1px solid #AFCDE9;
    margin-right: 24px;
    padding-right: 24px;
    width: 280px;

    .section-title {
      display: flex;
      margin-bottom: 0.5rem;

      hr {
        border: 0;
        border-top: 2px solid #AFCDE9;
        display: inline-block;
        margin: auto 0.5rem;
        width: 24px;
      }
    }
  } // #playersWrapper

  #players {
    .player {
      align-items: center;
      border-top: 1px solid #AFCDE9;
      display: flex;
      padding: 1rem 0;

      .player-image {
        border-radius: 50%;
        margin-right: 0.5rem;

        img {
          border-radius: 50%;
        }
      }

      .player-name {
        color: #7199AC;
        font-weight: 600;
      }

      .player-action {
        margin-left: auto;
      }
    }
  } // #players
} // #lobby