.page {
  #content {
    margin: 48px auto;
    max-width: 800px;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (min-width: 560px) {
      flex-direction: row;
    }

    #logo {
      height: auto;
      max-width: 200px;
    }

    .main-links {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 24px;

      li {
        margin-left: 16px;
      }
    } // .main-links
  } // nav

  .content {
    margin: 48px 0;

    h1 {
      text-align: center;
    }

    img {
      max-width: 100%;
      width: auto;
    }
    
    form {
      display: inline-block;
    }
  }
} // .page